body{
    background-image: url(../kepek/hatter.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#wrapper{
    width: 65%;
    margin: 0 auto;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "header header"
        "nav nav"
        "aside article"
        "footer footer";
}

header {
    grid-area: header;
    background-image: url(../kepek/fejlec.jpg);
    background-size: cover;
    height: 540px;
    padding-top: 35px;
}

header h1 {
    text-align: center;
    color: red;
    font-family: cursive;
}

nav {
    grid-area: nav;
    padding-left: 10px;
    padding-right: 10px;
}

nav hr{
    color: white;
}

aside {
    grid-area: aside;
}

aside img {
    width: 100%;
}

#szovegben {
    float: right;
    margin-left: 10px;
    max-width: 40%;
}

article {
    grid-area: article;
    padding: 10px;
}

footer {
    grid-area: footer;
    text-align: center;
}

ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    padding: 5px;
    text-align: center;
}
li a{
    text-decoration: none;
    color: white;
}

footer {
    color: white;
}

footer, nav{
    background-color: red;
}

@media all and (max-width: 600px){
    #wrapper{
        width: 95%;
        margin: 0 auto;
        background-color: antiquewhite;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "nav"
            "article"
            "footer";
    }
    aside{
        display: none;
    }
}